<!-- BANNER -->
<div class="container">
  <div class="banner_home" style="background-image: url(https://i.pinimg.com/originals/66/0f/2b/660f2b81d6b05367c87bca6e49608aa8.jpg);">
    <h1>The Social Rental</h1>
    <h3>Renta el local ideal para cualquier evento</h3>
  </div>
</div>

<!-- BUSCADOR -->
<!-- EVENTO | FECHA | CIUDAD | ASISTENTES -->

<div class="container py-5 d-flex justify-content-center"> <!-- py espacio arriba y abajo  -->

  <%= form_with url: places_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "¿Dónde?"
    %>
    <%= submit_tag "Buscar", class: "btn btn-outline-dark" %>
  <% end %>
</div>

<!-- CARDS -->
<div class="container pb-3 d-flex">
  <h4>Lo más destacado del mes:</h4>
</div>


<div class="container py-3 d-flex justify-content-center">

  <div class="card-container">
    <% @places.each do |place| %>
    <div class="card-trip">
      <% place.photos.last(1).each do |photo| %>
        <%= cl_image_tag photo.key, crop: :fill %>
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= place.city %></h2>
          <p><%= place.address %></p>
        </div>
        <h2 class="card-trip-pricing"><%= number_to_currency(place.price) %></h2>
      </div>
      <div class="btn btn-outline-dark mt-3"><%= link_to "Ver mas", place_path(place) %>
        </div>
    </div>
    <% end %>
  </div>
</div>


<!-- CARRUSEL -->
<div class="container py-3 d-flex justify-content-center">
  <h4>Encuentra con nosotros el lugar ideal para realizar el evento de tus sueños.</h4>
</div>

<div class="container pb-3 d-flex justify-content-center">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.unsplash.com/photo-1623788452350-4c8596ff40bb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block auto" alt="backyard reunion">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1505373877841-8d25f7d46678?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=812&q=80" class="d-block auto" alt="conference">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1566737236500-c8ac43014a67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="d-block auto" alt="private party">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1514525253161-7a46d19cd819?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80" class="d-block auto" alt="concert">
      </div>
      <div class="carousel-item">
        <img src="https://images.unsplash.com/photo-1621112904887-419379ce6824?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=8" class="d-block auto" alt="wedding">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container d-flex justify-content-center">
  <p>¿Quieres registrar tu local?</p>
</div>
<div class="container d-flex justify-content-center">
  <%= link_to "Empezar", new_place_path, class:"btn btn-outline-dark" %>
</div>

<!-- FOOTER -->


    <div class="footer">
      <div class="footer-links">
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <div class="footer-copyright">
        Made with <i class="fas fa-heart"></i> by EJF.
      </div>
    </div>
