<div class="container">
  <div class="bg-white">
    <h1>Reservación del cliente:</h1>
    <h3> <%=  %> <%=  %></h3><br>
    <% @reservations.each do |reservation| %>
    <%= reservation.user.first_name %> <%= reservation.user.last_name %>
<div class="container">
  <div class="row">
    <div class="col-sm-9">
    <%# mostrar imagen  %>
      <% reservation.place.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 150, width: 250, crop: :pad %>
      <% end %>
    <%# mostrar imagen  %>
      <div class="row">
        <div class="col-8 col-sm-6">

          Level 2: .col-8 .col-sm-6

        </div>
        <div class="col-4 col-sm-6">
          Level 2: .col-4 .col-sm-6
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

    <%# Boton  %>
    <div class="container col-3 mb-5 py-5">
      <%= link_to "Ver otros locales", places_path, class: "btn-outline-dark" %>
    </div>
    <%# fin Boton  %>
  </div>
</div>
