<div class="container">
  <div>
    <h1> Reservación </h1>

    <% @reservations.each do |reservation| %>
      <ul><li>
        <p>Cliente - <%= current_user.first_name %> <%= current_user.last_name %> </p>
        <p>Inicio - <%= reservation.date_start %></p>
        <p>Fin - <%= reservation.date_finish %></p>
        <%= reservation.place.photos.each do |photo|%>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <p></p>
      </li></ul>
    <% end %>
  </div>
</div>

<%#
<% @place.photos.each do |photo| %>
  <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
<%# end %>
