<div class="container bg-white">
  <div class="mb-2 mt-1">
    <h1 class="text-center py-3"> <strong> <%= @reservation.place.address %>, <%= @reservation.place.city %></strong></h1>
  </div>
  <div class="row  mt-1 mb-3 ">
    <div class="col">
      <% @reservation.place.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 450, width: 750, crop: :pad %>
      <% end %>
    </div>
    <div class="col py-5">
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      <%#= @resreservation.place.descpcion %> </p>
      <p class="card-text">:::FECHA RESERVA:::</p>
      <p class="card-text">Desde: <%= @reservation.date_start %></p>
      <p class="card-text">Hasta: <%= @reservation.date_start %></p><br>
      <p class="card-text"><strong> Precio: <%= number_to_currency(@reservation.total_price) %></strong></p>
    </div><br>
    <div class= "btn btn-light mt-3" class="col-4">
      <%= link_to "Escoger Nuevo Local", places_path %>
    </div>
    <div class= "btn btn-light mb-2 mt-1" class="col-4">
      <%= link_to "Mis Reservas", user_reservations_path(current_user.id) %>
    </div>
  </div>
</div>
