<div class="container mt-3 bg-white">
    <h1>Mi Reserva:</h1>
    <div class="d-flex justify-content-start mt-4 mb-4">
      <h1><%= @reservation.user.last_name %>, <%= @reservation.user.first_name %></h1>
    </div>

  <div class="row">
    <div class="col">
      <% @reservation.place.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 450, width: 750, crop: :pad %>
      <% end %>
    </div>
    <div class="col">
      <h3 class="card-title mt-3"> <strong><%= @reservation.place.address %></strong></h3><br>
          <p class="card-text mt-3 mb-3">Descripción del local a alquilar. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br><br>
          <p class="card-text"><strong> Precio: <%= number_to_currency(@reservation.total_price) %></strong></p></div>
      <div class= "btn btn-light mt-3" class="col-4">
        <%= link_to "Escoger nuevo Local", places_path %>
      </div>
      <div class= "btn btn-light mb-2" class="col-4">
        <%= link_to "Ver mis otras Reservas", user_reservations_path(current_user.id) %>
      </div>
    </div>
</div>
