<div class="container-new">
  <div class="container">
    <div id="wrapper">
      <div class="row">
        <div class="text-left form-login">
          <h2 class="text-center"><strong>Edita tu Local </strong></h2>
          <br>
            <div class="places_container">
          <div class="card-trip">
          <% @place.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
            <div class="card-trip-infos">
              <div>
                <h2><%= @place.city %></h2>
                <p><%= @place.address %></p>
              </div>
              <h2 class="card-trip-pricing"><%= @place.price %></h2>
            </div>
          </div>
      </div>

          <%= simple_form_for @place do |f| %>
          <%= f.error_notification %>
          <%= f.input :area, placeholder: "Metros cuadrados del local", :label_html => { :class => "label-css"} %>
          <%= f.input :address, label: "Mi local se encuentra ubicado en ", placeholder: "Calle Las Moreas N° 34" %>
          <%= f.input :city, placeholder: "Caracas" %>
          <%= f.input :price, label: "Precio por hora, en dolares", placeholder: "10" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <%= f.submit "Guardar", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
