<div class="container">
<div id="wrapper">
  <div class="row">
    <div class="text-left form-login">
      <h2 class="text-center"><strong>Ingresa tu Local </strong></h2>
      <br>
      <%= simple_form_for @place do |f| %>
      <%= f.error_notification %>
      <%= f.input :area, placeholder: "Metros cuadrados del local", :label_html => { :class => "label-css"} %>
      <%= f.input :address, label: "Mi local se encuentra ubicado en ", placeholder: "Calle Las Moreas N° 34" %>
      <%= f.input :city, placeholder: "Caracas" %>
      <%= f.input :price, label: "Precio por hora, en dolares", placeholder: "10" %>
      <%= f.input :description, label: "Descripción", placeholder: "Local amplio, con dos salones principales, recibidor, ubicación céntrica" %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.submit "Crear Local", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

</div>

</div>
