  <div class="container">
  <div class="places_container">
      <div class="card-trip">
       <% @place.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
       <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%= @place.city %></h2>
            <p><%= @place.address %></p>
          </div>
          <h2 class="card-trip-pricing"><%= number_to_currency(@place.price)%></h2>
        </div>
      </div>
  </div>
   <p class="btn btn-basic rounded-pill "><%= link_to 'Back', places_path, class: "btn-link-show" %></p>
   <% if @place.user == current_user %>
   <p class="btn btn-basic rounded-pill mx-4"><%= link_to 'Edit', edit_place_path(@place), class: "btn-link-show" %></p>
   <p class="btn btn-destroy rounded-pill"><%= link_to 'Destroy', @place, method: :delete, data: { confirm: 'Estas Seguro?' }, class: "btn-link-show" %></p>
  <%end%>

  <p><strong>Reseñas</strong></p>
  <ul class="list-group">
    <% @place.reviews.each do |review| %>
      <li class="list-group-item"><%= review.content %></li>
    <% end %>
  </ul>
</div>
